<main>
  <div class="container">
    <div *ngIf="member">
      <div class="row">
        <div class="text-center member-info-container">
          <h1>Member {{ member.id }}</h1>
        </div>
        <div *ngIf="member.photoUrl">
          <img src="{{ member.photoUrl }}" class="img-fluid rounded shadow" alt="Profile Picture" />
        </div>
        <div class="member-info-container">
          <h3>{{ member.name }}</h3>
          <span *ngIf="member.birthdate">{{ member.birthdate | date: 'longDate' }}</span>
        </div>
      </div>

      <div class="row border-top member-info-container">
        <h3>Parties</h3>
        <ul>
          <li *ngFor="let membership of partyMemberships">
            {{ membership.party.name }} ({{ membership.party.abbreviation }})
            | <span>From {{ membership.from | date: 'longDate' }}</span>
            <span *ngIf="membership.until"> until {{ membership.until | date: 'longDate' }}</span>
          </li>
        </ul>
      </div>

      <div class="row border-top member-info-container" *ngIf="websites.length > 0">
        <h3>Websites</h3>
        <ul>
          <li *ngFor="let website of websites">
            <a href="{{ website.url }}">{{ website.url }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
